In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import os
import numpy as np, pandas as pd
import matplotlib.pyplot as plt, seaborn as sns
from tqdm import tqdm, tqdm_notebook
from pathlib import Path
# pd.set_option('display.max_columns', 1000)
# pd.set_option('display.max_rows', 400)
sns.set()

os.chdir('..')

In [2]:
DATA = Path('data')
RAW  = DATA/'raw'
SUBMISSIONS = DATA/'submissions'

In [4]:
id_col = 'enrollee_id'
cat_cols = ['city', 'gender', 'relevent_experience', 'enrolled_university', 
            'education_level', 'major_discipline', 'experience', 'company_size', 
            'company_type', 'last_new_job']
num_cols = ['city_development_index', 'training_hours']
target_col = 'target'

In [6]:
sub_catboost = pd.read_csv(SUBMISSIONS/'05-catboost_labelordinal.csv')

In [7]:
sub_neuralnet = pd.read_csv(SUBMISSIONS/'07-neuralnet_labelordinal_alldata.csv')

In [8]:
sub_avg = sub_catboost.copy()

In [9]:
sub_avg[target_col] = (sub_catboost[target_col] + sub_neuralnet[target_col]) / 2

In [10]:
sub_avg.head()

   enrollee_id    target
0        16548  0.428909
1        12036  0.062185
2        11061  0.363323
3         5032  0.068685
4        17599  0.085267

In [11]:
sub_avg[target_col].describe()

count    15021.000000
mean         0.125453
std          0.071482
min          0.036413
25%          0.074111
50%          0.098934
75%          0.155020
max          0.486143
Name: target, dtype: float64

In [12]:
sub_avg.to_csv(SUBMISSIONS/'09-ensemble_05+07(50-50).csv', index=False)

## Average 25-75

In [13]:
sub_avg = sub_catboost.copy()
sub_avg[target_col] = 0.25*sub_catboost[target_col] + 0.75*sub_neuralnet[target_col]

In [14]:
sub_avg.head()

   enrollee_id    target
0        16548  0.398205
1        12036  0.058752
2        11061  0.349566
3         5032  0.063725
4        17599  0.080036

In [15]:
sub_avg[target_col].describe()

count    15021.000000
mean         0.122929
std          0.072004
min          0.028348
25%          0.071483
50%          0.097109
75%          0.153652
max          0.485754
Name: target, dtype: float64

In [16]:
sub_avg.to_csv(SUBMISSIONS/'10-ensemble_05+07(25-75).csv', index=False)

## Average 75-25

In [17]:
sub_avg = sub_catboost.copy()
sub_avg[target_col] = 0.75*sub_catboost[target_col] + 0.25*sub_neuralnet[target_col]

In [18]:
sub_avg.head()

   enrollee_id    target
0        16548  0.459613
1        12036  0.065617
2        11061  0.377079
3         5032  0.073644
4        17599  0.090497

In [19]:
sub_avg[target_col].describe()

count    15021.000000
mean         0.127977
std          0.071785
min          0.042457
25%          0.076625
50%          0.100205
75%          0.157591
max          0.521170
Name: target, dtype: float64

In [20]:
sub_avg.to_csv(SUBMISSIONS/'11-ensemble_05+07(75-25).csv', index=False)